<h2>История заказов</h2>

<div th:each="order : ${orders}">
    <h3>Заказ #[[${order.id}]] — [[${#temporals.format(order.createdAt, 'dd.MM.yyyy HH:mm')}]]</h3>
    <table border="1">
        <tr>
            <th>Товар</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Сумма</th>
        </tr>
        <tr th:each="item : ${order.items}">
            <td th:text="${item.product.name}"></td>
            <td th:text="${item.product.price}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.totalPrice}"></td>
        </tr>
        <tr>
            <td colspan="3"><b>Итого</b></td>
            <td th:text="${order.totalAmount}"></td>
        </tr>
    </table>
    <a th:href="@{'/orders/' + ${order.id}}">Смотреть заказ</a>
    <hr />


</div>

<div style="margin-top: 30px;">
    <a href="/products">← Вернуться к товарам</a>
</div>